<!DOCTYPE HTML>
<html>
    <head>
        <title>Das Blog</title>
    </head>
    <body>
        <h2><%=@post.title%></h2>
        <h3><%=@post.date%></h3>
        <hr>
        <p><%=@post.content%></p>
        <a href='/'>Back to Main</a>
    </body>
</html>