<!DOCTYPE HTML>
<html>
    <head>
        <title>Das Blog</title>
    </head>
    <body>
        <h1>Das Blog</h1>
        <hr>
        <%@posts.each_with_index do |post, index|%>
        <h2>
            <a href='/post/<%=index%>'>
            <%=post.title%>
            </a>
        </h2>
        <h3><%=post.date%></h3>
        <hr>
        <%end%>
        <h2><a href='/new_post'>Make a new post!</a></h2>
    </body>
</html>