<!DOCTYPE HTML>
<html>
    <head>
        <title>Make a new post!</title>
    </head>
    <body>
        <h1>Make a new post!</h1>
        <hr>
        <form action='/make_post' method='POST'>
            <input type='text' name='title' placeholder='title'>
            <input type='date' name='date' placeholder='date'>
            <input type='text' name='content' placeholder='Content here.'>
            <button type='submit'>Make Post</button>
        </form>
    </body>
</html>