* {
    border: solid white 1px !important;
    }

body{
    background-image: url(http://www.10wallpaper.com/wallpaper/1200x900/1106/Colorful_wood_background_1200x900.jpg);
}

p{
    background-color: #ff9900;
}