<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <title>Add To The Todo List</title>
</head>
<body>
    <p>
        <h3>
            Add To The Todo List
        </h3>
    </p>
    <p>
        <form action='/create_task' method='POST'>
            <input name='a_task' placeholder='Task Description'>
            <button type='submit'>Add Task</button>
        </form>
    </p>
</body>
</html>