<!-- views/main.erb -->
<!doctype html>
<html>
<head>
  <title>Online Calculator</title>
</head>
<body>
  <h1>Calculate</h1>
  <form action="/calculate" method="POST">
    <input type="number" name="first_number" placeholder="1st number" value="<%= @stored %>"> and
    <input type="number" name="second_number" placeholder="2nd number">

    <button type="submit" name="operation" value="+">Add</button>

    <button type="submit" name="operation" value="*">Multiply</button>

    <button type="submit" name="operation" value="/">Divide</button>

    <button type="submit" name="operation" value="-">Subtract</button>
  </form>
</body>
</html>