<!DOCTYPE HTML>
<html>
    <head>
        <title>Movie Lovers - Search</title>
    </head>
    <body>
        <h3>Search for a movie!</h3>
        <form action='/quiz_page' method='POST'>
            <label for='search'>Enter search term:</label>
            <input type='text' name='search_term' id='search'>
            <button type='submit' name='quiz' value='director'>Director</button>
            <button type='submit' name='quiz' value='year'>Year</button>
        </form>
    </body>
</html>