<ul>
    <% @projects.each do |project| %>
        <li><a href="/projects/<%=project.id%>"><%= project.name %></a>
            <% if project.description != nil && project.description != "" %>
                - <%= project.description %>
            <% end %>
        </li>
    <% end %>
</ul>

<a href="/projects/new">Make a new project!</a>